<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



<!-- Header -->
<div class="header">
  <h1>Mémorias 4TI</h1>
  <p>Familia <b>4TI</b> se superando no EAD</p>
</div>

<!-- Rotas -->
<div class="navbar">
  <button (click)="linkIntegrantes()">Efeitos Especiais</button>
  <button (click)="linkUm()">Primeiro Ano</button>
  <button (click)="linkDois()">Segundo Ano</button>
  <button (click)="linkTreis()">Terceiro Ano</button>
  <button (click)="linkQuatro()">Quarto Ano</button>
  <button (click)="linkSobreNos()">Sobre Nós</button>
</div>





<!-- Photo Grid -->
<div class="row"> 

  <div class="column">
    <img src="https://i.ibb.co/T0p6fq1/38.jpg" style="width:100%">
    <img src="https://i.ibb.co/f1LXWxZ/37.jpg" style="width:100%">
    <img src="https://i.ibb.co/YTq7CKm/36.jpg" style="width:100%">
    <img src="https://i.ibb.co/N92v9Bf/35.jpg" style="width:100%">
    <img src="https://i.ibb.co/LnZMdS2/34.jpg" style="width:100%">
    <img src="https://i.ibb.co/QJ2CWVS/33.jpg" style="width:100%">
    <img src="https://i.ibb.co/61nr8vV/32.jpg" style="width:100%">
    <img src="https://i.ibb.co/ccrsy16/10.jpg" style="width:100%">
    <img src="https://i.ibb.co/JvnqjFq/9.jpg" style="width:100%">
   </div>

   <div class="column">
    <img src="https://i.ibb.co/PZ4fLWj/31.jpg" style="width:100%">
    <img src="https://i.ibb.co/fpBf06z/30.jpg" style="width:100%">
    <img src="https://i.ibb.co/fG5msSz/29.jpg" style="width:100%">
    <img src="https://i.ibb.co/kSf2wHB/28.jpg" style="width:100%">
    <img src="https://i.ibb.co/7zrNwZK/27.jpg" style="width:100%">
    <img src="https://i.ibb.co/xz8cMtg/26.jpg" style="width:100%">
    <img src="https://i.ibb.co/K9ycMhM/25.jpg" style="width:100%">
   </div>

   <div class="column">
    <img src="https://i.ibb.co/bJGsx8v/24.jpg" style="width:100%">
    <img src="https://i.ibb.co/g4DTCbv/23.jpg" style="width:100%">
    <img src="https://i.ibb.co/7tpcwQ6/22.jpg" style="width:100%">
    <img src="https://i.ibb.co/8M5jWsH/21.jpg" style="width:100%">
    <img src="https://i.ibb.co/zZ5fRMJ/20.jpg" style="width:100%">
    <img src="https://i.ibb.co/bsL2ZsS/19.jpg" style="width:100%">
    <img src="https://i.ibb.co/KGB5vDh/18.jpg" style="width:100%">
    <img src="https://i.ibb.co/CQfbrtV/8.jpg" style="width:100%">
   </div>

   <div class="column">
    <img src="https://i.ibb.co/FDsrjxt/17.jpg" style="width:100%">
    <img src="https://i.ibb.co/8MwC6Yq/16.jpg" style="width:100%">
    <img src="https://i.ibb.co/sFHspdM/15.jpg" style="width:100%">
    <img src="https://i.ibb.co/j37XCZc/14.jpg" style="width:100%">
    <img src="https://i.ibb.co/vsHLLcv/13.jpg" style="width:100%">
    <img src="https://i.ibb.co/6yb1JP8/12.jpg" style="width:100%">
    <img src="https://i.ibb.co/K6TVZNL/11.jpg" style="width:100%">
    <img src="https://i.ibb.co/rQhzdR1/2.jpg" style="width:100%">
    <img src="https://i.ibb.co/Smy4gzd/1.jpg" style="width:100%">
    <img src="https://i.ibb.co/JFP0Cfb/3.jpg" style="width:100%">
   </div>
  
 
</div>

<!-- Roda Pé -->
<div class="footer">
  <h2>4TI</h2>
</div>

</body>
</html>

