<!-- Note -->
<div class="style">
    <h4>Conheça um pouco sobre a família 4TI </h4>
  </div>
<h1>
    A família 4TI, nasceu no dia 00/00/2017.No início, todos nós eramos calados e não nos falavamos,mas logo após a 
    primeira semana de aula, todos nós já ficamos amigos.O 4TI é enorme, muitas pessoas já se foram mas continuam nas
    nossas lembranças e fotografias,todos os professores,colegas de turma,os coordenadores,a equipe de limpeza,bibliotecários,
    todos são o 4TI, nossas fotografias representam uma parte da nossa história,momentos maravilhosos que passamos juntos.
    Lembranças que para sempre serão lembradas e relembradas por todos nós.

</h1>
