<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



<!-- Header -->
<div class="header">
  <h1>Mémorias 4TI</h1>
  <p>Familia <b>4TI</b> se superando no EAD</p>
</div>

<!-- Rotas -->
<div class="navbar">
  <button (click)="linkIntegrantes()">Efeitos Especiais</button>
  <button (click)="linkUm()">Primeiro Ano</button>
  <button (click)="linkDois()">Segundo Ano</button>
  <button (click)="linkTreis()">Terceiro Ano</button>
  <button (click)="linkQuatro()">Quarto Ano</button>
  <button (click)="linkSobreNos()">Sobre Nós</button>
</div>





<!-- Photo Grid -->
<div class="row"> 

  <div class="column">
    <img src="https://i.ibb.co/CzZjZzH/53.jpg" style="width:100%">
    <img src="https://i.ibb.co/0tMvvYZ/51.png" style="width:100%">
    <img src="https://i.ibb.co/vsxMvF1/52.jpg" style="width:100%">
    <img src="https://i.ibb.co/g3d8GRd/50.png" style="width:100%">
    <img src="https://i.ibb.co/qMTY7tL/49.png" style="width:100%">
    <img src="https://i.ibb.co/NtF8y5f/9.jpg" style="width:100%">
   </div>

  <div class="column">
    <img src="https://i.ibb.co/841Dwmh/48.png" style="width:100%">
    <img src="https://i.ibb.co/pJXJ2NR/47.png" style="width:100%">
    <img src="https://i.ibb.co/Jd8rN2C/46.png" style="width:100%">
    <img src="https://i.ibb.co/TLhCyTS/45.png" style="width:100%">
    <img src="https://i.ibb.co/VBHqnS4/43.jpg" style="width:100%">
   </div>
  
   <div class="column">
    <img src="https://i.ibb.co/Xz0nssX/44.jpg" style="width:100%">
    <img src="https://i.ibb.co/VqQ1D1X/42.jpg" style="width:100%">
    <img src="https://i.ibb.co/fSzJq6Z/41.jpg" style="width:100%">
    <img src="https://i.ibb.co/c3k1G23/40.jpg" style="width:100%">
    <img src="https://i.ibb.co/bRvQbjg/39.jpg" style="width:100%">
    <img src="https://i.ibb.co/JnNywxt/7.jpg" style="width:100%">
    <img src="https://i.ibb.co/m9Cc1gN/22.jpg" style="width:100%">
   </div>

   <div class="column">
    <img src="https://i.ibb.co/q0WNJ9R/38.jpg" style="width:100%">
    <img src="https://i.ibb.co/qrPvfG5/37.jpg" style="width:100%">
    <img src="https://i.ibb.co/Jp1WfLY/36.jpg" style="width:100%">
    <img src="https://i.ibb.co/tCvbh2H/35.jpg" style="width:100%">
    <img src="https://i.ibb.co/1Q8JSJX/34.jpg" style="width:100%">
    <img src="https://i.ibb.co/nrR1GYD/4.jpg" style="width:100%">
    <img src="https://i.ibb.co/7p3YxwM/8.jpg" style="width:100%">
   </div>


</div>


<!-- Roda Pé -->
<div class="footer">
  <h2>4TI</h2>
</div>

</body>
</html>


