<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



<!-- Header -->
<div class="header">
  <h1>Mémorias 4TI</h1>
  <p>Familia <b>4TI</b> se superando no EAD</p>
</div>

<!-- Rotas -->
<div class="navbar">
  <button (click)="linkIntegrantes()">Efeitos Especiais</button>
  <button (click)="linkUm()">Primeiro Ano</button>
  <button  (click)="linkDois()">Segundo Ano</button>
  <button (click)="linkTreis()">Terceiro Ano</button>
  <button (click)="linkQuatro()">Quarto Ano</button>
  <button (click)="linkSobreNos()">Sobre Nós</button>
</div>

<!-- Área de Fotos -->
<!-- Photo Grid -->
<div class="row"> 

  <div class="column">
    <img src="https://i.ibb.co/bFyjz2L/20180417-123137.jpg" style="width:100%">
    <img src="https://i.ibb.co/n0JFhGR/Pics-Art-09-04-09-49-54.jpg" style="width:100%">
    <img src="https://i.ibb.co/dLHrVgs/IMG-20191113-WA0006.jpg" style="width:100%">
  </div>

  <div class="column">
    <img src="https://i.ibb.co/59GVVVx/IMG-20190916-WA0015.jpg" style="width:100%">
    <img src="https://i.ibb.co/nC7q9G4/IMG-20170901-WA0054.jpg" style="width:100%">
    <img src="https://i.ibb.co/y4NsV8R/IMG-20190916-WA0013.jpg" style="width:100%">
  </div>

  <div class="column">
    <img src="https://i.ibb.co/T8VJDkJ/IMG-20190901-WA0011.jpg" style="width:100%">
    <img src="https://i.ibb.co/XtpZd27/Pics-Art-09-04-09-48-19.jpg" style="width:100%">
    <img src="https://i.ibb.co/jZDdJQx/Pics-Art-09-03-07-54-32.jpg" style="width:100%">
  </div>

  <div class="column">
    <img src="https://i.ibb.co/ySVFz73/IMG-20171211-WA0022.jpg" style="width:100%">
    <img src="https://i.ibb.co/6FdZ0WJ/IMG-20171211-WA0021.jpg" style="width:100%">
  
  </div>
   </div>

<!-- Roda Pé -->
<div class="footer">
  <h2>4TI</h2>
</div>

</body>
</html>

