<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



<!-- Header -->
<div class="header">
  <h1>Mémorias 4TI</h1>
  <p>Familia <b>4TI</b> se superando no EAD</p>
</div>

<!-- Rotas -->
<div class="navbar">
  <button (click)="linkIntegrantes()">Efeitos Especiais</button>
  <button (click)="linkUm()">Primeiro Ano</button>
  <button (click)="linkDois()">Segundo Ano</button>
  <button (click)="linkTreis()">Terceiro Ano</button>
  <button (click)="linkQuatro()">Quarto Ano</button>
  <button (click)="linkSobreNos()">Sobre Nós</button>
</div>





<!-- Photo Grid -->
<div class="row"> 

  <div class="column">
    <img src="https://i.ibb.co/8YN4QpC/40.jpg" style="width:100%">
    <img src="https://i.ibb.co/FbLCHq4/39.jpg" style="width:100%">
    <img src="https://i.ibb.co/bsBnwbn/38.jpg" style="width:100%">
    <img src="https://i.ibb.co/WDv6mVx/37.jpg" style="width:100%">
    <img src="https://i.ibb.co/z62RFJ5/64.jpg" style="width:100%">
    <img src="https://i.ibb.co/s6kGn0D/62.jpg" style="width:100%">
    <img src="https://i.ibb.co/KsVbbVm/61.jpg" style="width:100%">
    <img src="https://i.ibb.co/wJRZGJs/59.jpg" style="width:100%">
    <img src="https://i.ibb.co/jv9WNQs/31.jpg" style="width:100%">
    <img src="https://i.ibb.co/jW7F8H4/30.jpg" style="width:100%">
    <img src="https://i.ibb.co/8PzfXzn/29.jpg" style="width:100%">

   </div>

   <div class="column">
    <img src="https://i.ibb.co/swZ3ysc/60.jpg" style="width:100%">
    <img src="https://i.ibb.co/ccXzmMT/58.jpg" style="width:100%">
    <img src="https://i.ibb.co/hCtBPcR/57.jpg" style="width:100%">
    <img src="https://i.ibb.co/sPYn5Qg/56.jpg" style="width:100%">
    <img src="https://i.ibb.co/XYCPgTn/55.jpg" style="width:100%">
    <img src="https://i.ibb.co/tBc5gft/54.jpg" style="width:100%">
    <img src="https://i.ibb.co/DgXrvtV/53.jpg" style="width:100%">
    <img src="https://i.ibb.co/BnfNt23/52.jpg" style="width:100%">
    <img src="https://i.ibb.co/nbwZPbv/28.jpg" style="width:100%">
    <img src="https://i.ibb.co/hss1qwg/24.jpg" style="width:100%">
    <img src="https://i.ibb.co/XX6YSsb/19.jpg" style="width:100%">
    <img src="https://i.ibb.co/QY36SM7/11.jpg" style="width:100%">

   </div>

   <div class="column">
    <img src="https://i.ibb.co/kDj6Dfr/51.jpg" style="width:100%">
    <img src="https://i.ibb.co/d7nKm5N/49.jpg" style="width:100%">
    <img src="https://i.ibb.co/dQwDnQY/50.jpg" style="width:100%">
    <img src="https://i.ibb.co/nkZhtQy/48.jpg" style="width:100%">
    <img src="https://i.ibb.co/KVNVbVF/47.jpg" style="width:100%">
    <img src="https://i.ibb.co/wgfgPSt/46.jpg" style="width:100%">
    <img src="https://i.ibb.co/J7VjLzd/45.jpg" style="width:100%">
    <img src="https://i.ibb.co/KDdkfHL/44.jpg" style="width:100%">
    <img src="https://i.ibb.co/nfL7FgJ/6.jpg" style="width:100%">
    <img src="https://i.ibb.co/wQRMPL3/7.jpg" style="width:100%">
    <img src="https://i.ibb.co/M6KM5Dj/25.jpg" style="width:100%">
    </div>

   <div class="column">
    <img src="https://i.ibb.co/kJ12Mw6/43.jpg" style="width:100%">
    <img src="https://i.ibb.co/2M7H41q/42.jpg" style="width:100%">
    <img src="https://i.ibb.co/4TCD5cb/41.jpg" style="width:100%">
    <img src="https://i.ibb.co/c1Wxf88/36.jpg" style="width:100%">
    <img src="https://i.ibb.co/Js8CBss/35.jpg" style="width:100%">
    <img src="https://i.ibb.co/whfyNgK/34.jpg" style="width:100%">
    <img src="https://i.ibb.co/G5QbphY/33.jpg" style="width:100%">
    <img src="https://i.ibb.co/hRn5T9Y/32.jpg" style="width:100%">
    <img src="https://i.ibb.co/hFwn3mt/9.jpg" style="width:100%">
    <img src="https://i.ibb.co/PmJv5J2/4.jpg" style="width:100%">
   </div>
  
  
</div>

<!-- Roda Pé -->
<div class="footer">
  <h2>4TI</h2>
</div>

</body>
</html>

