<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



<!-- Header -->
<div class="header">
  <h1>Mémorias 4TI</h1>
  <p>Familia <b>4TI</b> se superando no EAD</p>
</div>

<!-- Rotas -->
<div class="navbar">
  <button (click)="linkIntegrantes()">Efeitos Especiais</button>
  <button (click)="linkUm()">Primeiro Ano</button>
  <button (click)="linkDois()">Segundo Ano</button>
  <button (click)="linkTreis()">Terceiro Ano</button>
  <button (click)="linkQuatro()">Quarto Ano</button>
  <button (click)="linkSobreNos()">Sobre Nós</button>
</div>





<!-- Photo Grid -->
<div class="row"> 

  <div class="column">
    <img src="https://i.ibb.co/Rv8gXMF/6.jpg" style="width:100%">
    <img src="https://i.ibb.co/5js2MHH/7.jpg" style="width:100%">
    <img src="https://i.ibb.co/LxNnJ5q/5.jpg" style="width:100%">
    <img src="https://i.ibb.co/71McPPL/4.jpg" style="width:100%">
    <img src="https://i.ibb.co/YfRLFRz/3.jpg" style="width:100%">
    <img src="https://i.ibb.co/FX0p60R/10.jpg" style="width:100%">
    <img src="https://i.ibb.co/nst0XJR/9.jpg" style="width:100%">
    
  </div>

  <div class="column">
    <img src="https://i.ibb.co/mvSdXvX/2.jpg" style="width:100%">
    <img src="https://i.ibb.co/8X2Q7fx/1.jpg" style="width:100%">
    <img src="https://i.ibb.co/PctJvRT/24.jpg" style="width:100%">
    <img src="https://i.ibb.co/3mnSkr4/23.jpg" style="width:100%">
    <img src="https://i.ibb.co/Tm8k37q/22.jpg" style="width:100%">
  </div>

  <div class="column">
    <img src="https://i.ibb.co/xL5qDd4/21.jpg" style="width:100%">
    <img src="https://i.ibb.co/p3dxvLK/20.jpg" style="width:100%">
    <img src="https://i.ibb.co/G27txJC/19.jpg" style="width:100%">
    <img src="https://i.ibb.co/ZMjZZdp/18.jpg" style="width:100%">
    
  </div>

  <div class="column">
    <img src="https://i.ibb.co/xsYSwh5/16.jpg" style="width:100%">
    <img src="https://i.ibb.co/QCpmhc2/14.jpg" style="width:100%">
    <img src="https://i.ibb.co/cXBJYVX/13.jpg" style="width:100%">
    <img src="https://i.ibb.co/RPqSVvC/12.jpg" style="width:100%">
    <img src="https://i.ibb.co/FX0p60R/10.jpg" style="width:100%">
    <img src="https://i.ibb.co/NpVFrmr/17.jpg" style="width:100%">
  </div>
  
  
</div>

<!-- Roda Pé -->
<div class="footer">
  <h2>4TI</h2>
</div>

</body>
</html>

  
  